# <center>Exploratory Data Analysis</center>

## <center>PAKDD2010_Leaderboard_Data.txt</center>

In [17]:
import pandas as pd
import xlrd
import IPython.display
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from src.visualization import visualize

###Â Load dataset

In [18]:
#take headers from VariablesList.XLS
headers_df = pd.read_excel('../data/raw/PAKDD2010_VariablesList.XLS') # can also index sheet by name or fetch all sheets
headers = headers_df['Var_Title'].tolist()

print(f'{type(headers)}\n'
      f'{len(headers)} features in original list\n'
      f'{len(set(headers))} unique elements in list')

<class 'list'>
54 features in original list
53 unique elements in list

In [19]:
#correct duplicate headers

headers_unique = []

for header in headers:
    if header not in headers_unique:
        headers_unique.append(header)
    else:
        header_duplicated = header + "_2"
        headers_unique.append(header_duplicated)
        print(f'{header} is duplicated and is replaced by {header_duplicated}')

EDUCATION_LEVEL is duplicated and is replaced by EDUCATION_LEVEL_2

In [20]:
#create train dataframe with headers
X_train = pd.read_csv('../data/raw/PAKDD2010_Leaderboard_Data.txt', sep='\t', encoding= 'unicode_escape', names= headers_unique, low_memory=False, index_col ='ID_CLIENT' )
IPython.display.HTML(X_train.head().to_html())

In [21]:
y_train = pd.read_csv('../data/raw/PAKDD2010_Leaderboard_Submission_Example.txt', sep='\t', encoding= 'unicode_escape', names= ['ID_CLIENT','TARGET_LABEL_BAD=1'], low_memory=False, index_col ='ID_CLIENT')
IPython.display.HTML(y_train.head().to_html())

In [22]:
print(f'Average probability of bad client: {round(X_train["TARGET_LABEL_BAD=1"].mean(),6)}%')

Average probability of bad client: nan%

In [23]:
X_train['TARGET_LABEL_BAD=1'] = y_train['TARGET_LABEL_BAD=1']

In [24]:
IPython.display.HTML(X_train.head().to_html())

In [25]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 50001 to 70000
Data columns (total 53 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CLERK_TYPE                      20000 non-null  object
 1   PAYMENT_DAY                     20000 non-null  int64
 2   APPLICATION_SUBMISSION_TYPE     20000 non-null  object
 3   QUANT_ADDITIONAL_CARDS          20000 non-null  int64
 4   POSTAL_ADDRESS_TYPE             20000 non-null  int64
 5   SEX                             20000 non-null  object
 6   MARITAL_STATUS                  20000 non-null  int64
 7   QUANT_DEPENDANTS                20000 non-null  int64
 8   EDUCATION_LEVEL                 20000 non-null  int64
 9   STATE_OF_BIRTH                  20000 non-null  object
 10  CITY_OF_BIRTH                   19990 non-null  object
 11  NACIONALITY                     20000 non-null  int64
 12  RESIDENCIAL_STATE               19999 non-null  object
 13  RESIDENCIAL_CITY                19999 non-null  object
 14  RESIDENCIAL_BOROUGH             19999 non-null  object
 15  FLAG_RESIDENCIAL_PHONE          20000 non-null  object
 16  RESIDENCIAL_PHONE_AREA_CODE     20000 non-null  object
 17  RESIDENCE_TYPE                  19384 non-null  float64
 18  MONTHS_IN_RESIDENCE             17337 non-null  float64
 19  FLAG_MOBILE_PHONE               20000 non-null  object
 20  FLAG_EMAIL                      20000 non-null  int64
 21  PERSONAL_MONTHLY_INCOME         20000 non-null  float64
 22  OTHER_INCOMES                   20000 non-null  float64
 23  FLAG_VISA                       20000 non-null  int64
 24  FLAG_MASTERCARD                 20000 non-null  int64
 25  FLAG_DINERS                     20000 non-null  int64
 26  FLAG_AMERICAN_EXPRESS           20000 non-null  int64
 27  FLAG_OTHER_CARDS                20000 non-null  int64
 28  QUANT_BANKING_ACCOUNTS          20000 non-null  int64
 29  QUANT_SPECIAL_BANKING_ACCOUNTS  20000 non-null  int64
 30  PERSONAL_ASSETS_VALUE           20000 non-null  int64
 31  QUANT_CARS                      20000 non-null  int64
 32  COMPANY                         20000 non-null  object
 33  PROFESSIONAL_STATE              20000 non-null  object
 34  PROFESSIONAL_CITY               5794 non-null   object
 35  PROFESSIONAL_BOROUGH            5794 non-null   object
 36  FLAG_PROFESSIONAL_PHONE         20000 non-null  object
 37  PROFESSIONAL_PHONE_AREA_CODE    20000 non-null  object
 38  MONTHS_IN_THE_JOB               20000 non-null  int64
 39  PROFESSION_CODE                 20000 non-null  int64
 40  OCCUPATION_TYPE                 17563 non-null  float64
 41  MATE_PROFESSION_CODE            1271 non-null   float64
 42  EDUCATION_LEVEL_2               461 non-null    float64
 43  FLAG_HOME_ADDRESS_DOCUMENT      20000 non-null  int64
 44  FLAG_RG                         20000 non-null  int64
 45  FLAG_CPF                        20000 non-null  int64
 46  FLAG_INCOME_PROOF               20000 non-null  int64
 47  PRODUCT                         20000 non-null  int64
 48  FLAG_ACSP_RECORD                20000 non-null  object
 49  AGE                             20000 non-null  int64
 50  RESIDENCIAL_ZIP_3               20000 non-null  object
 51  PROFESSIONAL_ZIP_3              20000 non-null  object
 52  TARGET_LABEL_BAD=1              20000 non-null  float64
dtypes: float64(8), int64(25), object(20)
memory usage: 8.2+ MB

In [26]:
visualize.missing_values(X_train)

                      NaN Values  % of NaN
EDUCATION_LEVEL_2          19539     97.70
MATE_PROFESSION_CODE       18729     93.64
PROFESSIONAL_CITY          14206     71.03
PROFESSIONAL_BOROUGH       14206     71.03
MONTHS_IN_RESIDENCE         2663     13.32
OCCUPATION_TYPE             2437     12.18
RESIDENCE_TYPE               616      3.08
CITY_OF_BIRTH                 10      0.05

                              Empty Values  % of empty
PROFESSIONAL_PHONE_AREA_CODE         14553       72.76
PROFESSIONAL_STATE                   14287       71.44
RESIDENCIAL_PHONE_AREA_CODE           2268       11.34
PROFESSIONAL_BOROUGH                   290        1.45
PROFESSIONAL_CITY                       63        0.32
STATE_OF_BIRTH                          10        0.05

In [27]:
without_nan = X_train.dropna().shape[0]

print(f'Data without NaN values: {without_nan:,} applicants of a total {X_train.shape[0]:,} corresponding to {round((without_nan)/(X_train.shape[0]),4)*100}%.')

Data without NaN values: 148 applicants of a total 20,000 corresponding to 0.74%.

In [28]:
empty_data = ((X_train.eq(' ')).sum()).sum()
total_rows = X_train.shape[0]*X_train.shape[1]

print(f'Empty Data: {empty_data:,} rows of a total {total_rows:,} corresponding to {round(empty_data/total_rows,2)*100}%')

Empty Data: 31,472 rows of a total 1,060,000 corresponding to 3.0%

In [29]:
print(f'Dataset features datatypes:\n{X_train.dtypes.value_counts()}')

Dataset features datatypes:
int64      25
object     20
float64     8
dtype: int64

In [30]:
cat_features = X_train.select_dtypes('O').nunique()
cat_features_list = list(cat_features.index)
print(f'Categorical columns ({cat_features.shape[0]}):\n{cat_features}')

Categorical columns (20):
CLERK_TYPE                         1
APPLICATION_SUBMISSION_TYPE        2
SEX                                2
STATE_OF_BIRTH                    29
CITY_OF_BIRTH                   5708
RESIDENCIAL_STATE                 27
RESIDENCIAL_CITY                2540
RESIDENCIAL_BOROUGH             8143
FLAG_RESIDENCIAL_PHONE             2
RESIDENCIAL_PHONE_AREA_CODE       78
FLAG_MOBILE_PHONE                  2
COMPANY                            2
PROFESSIONAL_STATE                28
PROFESSIONAL_CITY               1437
PROFESSIONAL_BOROUGH            2540
FLAG_PROFESSIONAL_PHONE            2
PROFESSIONAL_PHONE_AREA_CODE      77
FLAG_ACSP_RECORD                   2
RESIDENCIAL_ZIP_3                754
PROFESSIONAL_ZIP_3               754
dtype: int64

In [31]:
cat_num_features = X_train.select_dtypes("number").nunique()[X_train.select_dtypes("number").nunique()<15]
cat_num_features_list = list(cat_num_features.index)
cat_num_features_list.append('PROFESSION_CODE')
cat_num_features_list.append('MATE_PROFESSION_CODE')
print(f'Categorical numerical columns ({X_train[cat_num_features_list].shape[1]}):\n{X_train[cat_num_features_list].nunique()}')

Categorical numerical columns (26):
PAYMENT_DAY                        6
QUANT_ADDITIONAL_CARDS             3
POSTAL_ADDRESS_TYPE                2
MARITAL_STATUS                     8
EDUCATION_LEVEL                    5
NACIONALITY                        3
RESIDENCE_TYPE                     6
FLAG_EMAIL                         2
FLAG_VISA                          2
FLAG_MASTERCARD                    2
FLAG_DINERS                        2
FLAG_AMERICAN_EXPRESS              2
FLAG_OTHER_CARDS                   2
QUANT_BANKING_ACCOUNTS             3
QUANT_SPECIAL_BANKING_ACCOUNTS     3
QUANT_CARS                         2
OCCUPATION_TYPE                    5
MATE_PROFESSION_CODE              13
EDUCATION_LEVEL_2                  6
FLAG_HOME_ADDRESS_DOCUMENT         2
FLAG_RG                            2
FLAG_CPF                           2
FLAG_INCOME_PROOF                  2
PRODUCT                            3
PROFESSION_CODE                   18
MATE_PROFESSION_CODE              13
dtype: int64

In [32]:
number_dtype = X_train.select_dtypes("number").columns
num_features_list = list(set(number_dtype) - set(cat_num_features.index))
num_features_list.remove('PROFESSION_CODE')


num_features = X_train.select_dtypes("number").nunique()[num_features_list]
print(f'Numerical columns ({num_features.shape[0]}):\n{num_features}')

Numerical columns (8):
PERSONAL_MONTHLY_INCOME     4311
MONTHS_IN_THE_JOB             18
MONTHS_IN_RESIDENCE           72
PERSONAL_ASSETS_VALUE        104
AGE                           79
QUANT_DEPENDANTS              16
OTHER_INCOMES                289
TARGET_LABEL_BAD=1         10000
dtype: int64