# <center>Exploratory Data Analysis</center>

## <center>PAKDD2010_Prediction_Data.txt</center>

In [1]:
import pandas as pd
import xlrd
import IPython.display
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from src.visualization import visualize

###Â Load dataset

In [2]:
#take headers from VariablesList.XLS
headers_df = pd.read_excel('../data/raw/PAKDD2010_VariablesList.XLS') # can also index sheet by name or fetch all sheets
headers = headers_df['Var_Title'].tolist()

print(f'{type(headers)}\n'
      f'{len(headers)} features in original list\n'
      f'{len(set(headers))} unique elements in list')

<class 'list'>
54 features in original list
53 unique elements in list

In [3]:
#correct duplicate headers

headers_unique = []

for header in headers:
    if header not in headers_unique:
        headers_unique.append(header)
    else:
        header_duplicated = header + "_2"
        headers_unique.append(header_duplicated)
        print(f'{header} is duplicated and is replaced by {header_duplicated}')

EDUCATION_LEVEL is duplicated and is replaced by EDUCATION_LEVEL_2

In [4]:
#create train dataframe with headers
X_train = pd.read_csv('../data/raw/PAKDD2010_Prediction_Data.txt', sep='\t', encoding= 'unicode_escape', names= headers_unique, low_memory=False, index_col ='ID_CLIENT' )
IPython.display.HTML(X_train.head().to_html())

In [5]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 70001 to 90000
Data columns (total 53 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CLERK_TYPE                      20000 non-null  object
 1   PAYMENT_DAY                     20000 non-null  int64
 2   APPLICATION_SUBMISSION_TYPE     20000 non-null  object
 3   QUANT_ADDITIONAL_CARDS          1273 non-null   float64
 4   POSTAL_ADDRESS_TYPE             20000 non-null  int64
 5   SEX                             20000 non-null  object
 6   MARITAL_STATUS                  20000 non-null  int64
 7   QUANT_DEPENDANTS                20000 non-null  int64
 8   EDUCATION_LEVEL                 20000 non-null  int64
 9   STATE_OF_BIRTH                  20000 non-null  object
 10  CITY_OF_BIRTH                   19990 non-null  object
 11  NACIONALITY                     20000 non-null  int64
 12  RESIDENCIAL_STATE               20000 non-null  object
 13  RESIDENCIAL_CITY                20000 non-null  object
 14  RESIDENCIAL_BOROUGH             20000 non-null  object
 15  FLAG_RESIDENCIAL_PHONE          20000 non-null  object
 16  RESIDENCIAL_PHONE_AREA_CODE     20000 non-null  object
 17  RESIDENCE_TYPE                  19440 non-null  float64
 18  MONTHS_IN_RESIDENCE             17476 non-null  float64
 19  FLAG_MOBILE_PHONE               20000 non-null  object
 20  FLAG_EMAIL                      20000 non-null  int64
 21  PERSONAL_MONTHLY_INCOME         20000 non-null  float64
 22  OTHER_INCOMES                   20000 non-null  float64
 23  FLAG_VISA                       20000 non-null  int64
 24  FLAG_MASTERCARD                 20000 non-null  int64
 25  FLAG_DINERS                     20000 non-null  int64
 26  FLAG_AMERICAN_EXPRESS           20000 non-null  int64
 27  FLAG_OTHER_CARDS                20000 non-null  int64
 28  QUANT_BANKING_ACCOUNTS          20000 non-null  int64
 29  QUANT_SPECIAL_BANKING_ACCOUNTS  20000 non-null  int64
 30  PERSONAL_ASSETS_VALUE           20000 non-null  float64
 31  QUANT_CARS                      20000 non-null  int64
 32  COMPANY                         20000 non-null  object
 33  PROFESSIONAL_STATE              20000 non-null  object
 34  PROFESSIONAL_CITY               5656 non-null   object
 35  PROFESSIONAL_BOROUGH            5656 non-null   object
 36  FLAG_PROFESSIONAL_PHONE         20000 non-null  object
 37  PROFESSIONAL_PHONE_AREA_CODE    20000 non-null  object
 38  MONTHS_IN_THE_JOB               20000 non-null  int64
 39  PROFESSION_CODE                 20000 non-null  int64
 40  OCCUPATION_TYPE                 17628 non-null  float64
 41  MATE_PROFESSION_CODE            1121 non-null   float64
 42  EDUCATION_LEVEL_2               390 non-null    float64
 43  FLAG_HOME_ADDRESS_DOCUMENT      20000 non-null  int64
 44  FLAG_RG                         20000 non-null  int64
 45  FLAG_CPF                        20000 non-null  int64
 46  FLAG_INCOME_PROOF               20000 non-null  int64
 47  PRODUCT                         20000 non-null  int64
 48  FLAG_ACSP_RECORD                20000 non-null  object
 49  AGE                             20000 non-null  int64
 50  RESIDENCIAL_ZIP_3               20000 non-null  int64
 51  PROFESSIONAL_ZIP_3              20000 non-null  int64
 52  TARGET_LABEL_BAD=1              0 non-null      float64
dtypes: float64(10), int64(25), object(18)
memory usage: 8.2+ MB

In [6]:
print(f'Data without missing values: {X_train.dropna().shape[0]:,} applicants of a total {X_train.shape[0]:,} corresponding a {round((X_train.dropna().shape[0])/(X_train.shape[0]),4)*100}%.')

Data without missing values: 0 applicants of a total 20,000 corresponding a 0.0%.

In [7]:
visualize.missing_values(X_train)

                        NaN Values  % of NaN
TARGET_LABEL_BAD=1           20000    100.00
EDUCATION_LEVEL_2            19610     98.05
MATE_PROFESSION_CODE         18879     94.40
QUANT_ADDITIONAL_CARDS       18727     93.64
PROFESSIONAL_CITY            14344     71.72
PROFESSIONAL_BOROUGH         14344     71.72
MONTHS_IN_RESIDENCE           2524     12.62
OCCUPATION_TYPE               2372     11.86
RESIDENCE_TYPE                 560      2.80
CITY_OF_BIRTH                   10      0.05

                              Empty Values  % of empty
PROFESSIONAL_PHONE_AREA_CODE         15048       75.24
PROFESSIONAL_STATE                   14413       72.06
RESIDENCIAL_PHONE_AREA_CODE           4231       21.16
PROFESSIONAL_BOROUGH                   297        1.48
PROFESSIONAL_CITY                       74        0.37
STATE_OF_BIRTH                          10        0.05
RESIDENCIAL_BOROUGH                      2        0.01

In [8]:
print(f'Dataset features datatypes:\n{X_train.dtypes.value_counts()}')

Dataset features datatypes:
int64      25
object     18
float64    10
dtype: int64

In [9]:
cat_features = X_train.select_dtypes('O').nunique()
cat_features_list = list(cat_features.index)
print(f'Categorical columns ({cat_features.shape[0]}):\n{cat_features}')

Categorical columns (18):
CLERK_TYPE                         1
APPLICATION_SUBMISSION_TYPE        2
SEX                                2
STATE_OF_BIRTH                    29
CITY_OF_BIRTH                   5376
RESIDENCIAL_STATE                 27
RESIDENCIAL_CITY                2599
RESIDENCIAL_BOROUGH             7943
FLAG_RESIDENCIAL_PHONE             2
RESIDENCIAL_PHONE_AREA_CODE       78
FLAG_MOBILE_PHONE                  2
COMPANY                            2
PROFESSIONAL_STATE                28
PROFESSIONAL_CITY               1368
PROFESSIONAL_BOROUGH            2521
FLAG_PROFESSIONAL_PHONE            2
PROFESSIONAL_PHONE_AREA_CODE      69
FLAG_ACSP_RECORD                   2
dtype: int64

In [10]:
cat_num_features = X_train.select_dtypes("number").nunique()[X_train.select_dtypes("number").nunique()<15]
cat_num_features_list = list(cat_num_features.index)
cat_num_features_list.append('PROFESSION_CODE')
cat_num_features_list.append('MATE_PROFESSION_CODE')
print(f'Categorical numerical columns ({X_train[cat_num_features_list].shape[1]}):\n{X_train[cat_num_features_list].nunique()}')

Categorical numerical columns (26):
PAYMENT_DAY                        6
QUANT_ADDITIONAL_CARDS             2
POSTAL_ADDRESS_TYPE                2
MARITAL_STATUS                     7
EDUCATION_LEVEL                    5
NACIONALITY                        3
RESIDENCE_TYPE                     6
FLAG_EMAIL                         2
FLAG_VISA                          2
FLAG_MASTERCARD                    2
FLAG_DINERS                        2
FLAG_AMERICAN_EXPRESS              2
FLAG_OTHER_CARDS                   2
QUANT_BANKING_ACCOUNTS             3
QUANT_SPECIAL_BANKING_ACCOUNTS     3
QUANT_CARS                         2
OCCUPATION_TYPE                    5
EDUCATION_LEVEL_2                  6
FLAG_HOME_ADDRESS_DOCUMENT         2
FLAG_RG                            2
FLAG_CPF                           2
FLAG_INCOME_PROOF                  2
PRODUCT                            3
TARGET_LABEL_BAD=1                 0
PROFESSION_CODE                   20
MATE_PROFESSION_CODE              16
dtype: int64

In [11]:
number_dtype = X_train.select_dtypes("number").columns
num_features_list = list(set(number_dtype) - set(cat_num_features.index))
num_features_list.remove('PROFESSION_CODE')
num_features_list.remove('MATE_PROFESSION_CODE')


num_features = X_train.select_dtypes("number").nunique()[num_features_list]
print(f'Numerical columns ({num_features.shape[0]}):\n{num_features}')

Numerical columns (9):
PROFESSIONAL_ZIP_3          750
OTHER_INCOMES               337
MONTHS_IN_RESIDENCE          76
QUANT_DEPENDANTS             15
PERSONAL_MONTHLY_INCOME    4138
RESIDENCIAL_ZIP_3           750
MONTHS_IN_THE_JOB            15
PERSONAL_ASSETS_VALUE       101
AGE                          83
dtype: int64

In [12]:
print(f'Categorical columns ({cat_features.shape[0]}):\n{cat_features}\n\n')
print(f'Categorical numerical columns ({X_train[cat_num_features_list].shape[1]}):\n{X_train[cat_num_features_list].nunique()}\n\n')
print(f'Numerical columns ({num_features.shape[0]}):\n{num_features}')

Categorical columns (18):
CLERK_TYPE                         1
APPLICATION_SUBMISSION_TYPE        2
SEX                                2
STATE_OF_BIRTH                    29
CITY_OF_BIRTH                   5376
RESIDENCIAL_STATE                 27
RESIDENCIAL_CITY                2599
RESIDENCIAL_BOROUGH             7943
FLAG_RESIDENCIAL_PHONE             2
RESIDENCIAL_PHONE_AREA_CODE       78
FLAG_MOBILE_PHONE                  2
COMPANY                            2
PROFESSIONAL_STATE                28
PROFESSIONAL_CITY               1368
PROFESSIONAL_BOROUGH            2521
FLAG_PROFESSIONAL_PHONE            2
PROFESSIONAL_PHONE_AREA_CODE      69
FLAG_ACSP_RECORD                   2
dtype: int64


Categorical numerical columns (26):
PAYMENT_DAY                        6
QUANT_ADDITIONAL_CARDS             2
POSTAL_ADDRESS_TYPE                2
MARITAL_STATUS                     7
EDUCATION_LEVEL                    5
NACIONALITY                        3
RESIDENCE_TYPE                     6
FLAG_EMAIL                         2
FLAG_VISA                          2
FLAG_MASTERCARD                    2
FLAG_DINERS                        2
FLAG_AMERICAN_EXPRESS              2
FLAG_OTHER_CARDS                   2
QUANT_BANKING_ACCOUNTS             3
QUANT_SPECIAL_BANKING_ACCOUNTS     3
QUANT_CARS                         2
OCCUPATION_TYPE                    5
EDUCATION_LEVEL_2                  6
FLAG_HOME_ADDRESS_DOCUMENT         2
FLAG_RG                            2
FLAG_CPF                           2
FLAG_INCOME_PROOF                  2
PRODUCT                            3
TARGET_LABEL_BAD=1                 0
PROFESSION_CODE                   20
MATE_PROFESSION_CODE              16
dtype: int64


Numerical columns (9):
PROFESSIONAL_ZIP_3          750
OTHER_INCOMES               337
MONTHS_IN_RESIDENCE          76
QUANT_DEPENDANTS             15
PERSONAL_MONTHLY_INCOME    4138
RESIDENCIAL_ZIP_3           750
MONTHS_IN_THE_JOB            15
PERSONAL_ASSETS_VALUE       101
AGE                          83
dtype: int64

In [13]:
visualize.series_count(X_train['TARGET_LABEL_BAD=1'])

     Count      %
NaN  20000  100.0